<h4>General Settings</h4>

<form class="form-horizontal">
  <div class="control-group">
    <div class="controls" title="{{ _('Whether to clear any defined exclude regions by default when printing completes') }}">
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.clearRegionsAfterPrintFinishes">
        {{ _('Clear Exclude Regions when Print Completes') }}
      </label>
    </div>

    <div class="controls" title="{{ _('Whether exclude regions may be deleted or reduced in size when actively printing') }}">
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.mayShrinkRegionsWhilePrinting">
        {{ _('Allow Deleting or Shrinking Regions while Printing') }}
      </label>
    </div>
  </div>

  <div class="control-group" title="{{ _('Gcode to execute when entering an excluded region') }}">
    <label class="control-label" for="settings-excluderegion-enterRegionGcode">{{ _('Enter Exclude Region Gcode') }}</label>
      <div class="controls">
        <textarea class="input-block-level" data-bind="value: settings.enteringExcludedRegionGcode" id="settings-excluderegion-enterRegionGcode"></textarea>
      </div>
  </div>

  <div class="control-group" title="{{ _('Gcode to execute when leaving an excluded region') }}">
    <label class="control-label" for="settings-excluderegion-exitRegionGcode">{{ _('Exit Exclude Region Gcode') }}</label>
    <div class="controls">
      <textarea class="input-block-level" data-bind="value: settings.exitingExcludedRegionGcode" id="settings-excluderegion-exitRegionGcode"></textarea>
    </div>
  </div>

  <div class="control-group" title="{{ _('Whether to write to a plugin-specific log file, or just use the general OctorPrint log') }}">
    <label class="control-label" for="settings-excluderegion-loggingMode">{{ _('Logging Mode') }}</label>
    <div class="controls">
      <select data-bind="value: settings.loggingMode" class="input-block-level" title="{{ _('Whether to log to the OctoPrint log, a dedicated plugin log, or both') }}">
        <option value="octoprint">{{ _('Use OctoPrint log file') }}</option>
        <option value="dedicated">{{ _('Use dedicated plugin log file') }}</option>
        <option value="both">{{ _('Log to both') }}</option>
      </select>
    </div>
  </div>
</form>

<h4>Extended Gcodes to Exclude</h4>

<div class="table table-condensed container-fluid">
  <div>
    <div class="row-fluid">
      <h5 class="span2">{{ _('Gcode') }}</h5>
      <h5 class="span2">{{ _('Mode') }}</h5>
      <h5 class="span6">{{ _('Description') }}</h5>
      <h5 class="span2"></h5>
    </div>
  </div>
  <div data-bind="foreach: settings.extendedExcludeGcodes">
    <div data-bind="attr: {title: gcode}" class="row-fluid">
      <span class="span2" data-bind="text: gcode"></span>
      <span class="span2">
        <select data-bind="value: mode" class="input-small" title="{{ _('Exclude Mode') }}">
          <option value="exclude">{{ _('Exclude') }}</option>
          <option value="first">{{ _('First') }}</option>
          <option value="last">{{ _('Last') }}</option>
          <option value="merge">{{ _('Merge') }}</option>
        </select>
      </span>
      <span class="span6"><input type="text" class="span12" data-bind="value: description, attr: {title: description}"/></span>
      <span class="span2">
        <a href="#" class="btn btn-mini icon-trash" data-bind="click: $parent.removeExtendedGcode" title="{{ _('Remove entry') }}"></a>
      </span>
    </div>
  </div>
  <div>
    <div class="row-fluid">
      <span class="span2"><input type="text" class="input-small" title="{{ _("Gcode") }}" id="settings-excluderegion_newExtendedGcode"/></span>
      <span class="span2">
        <select class="input-small" title="{{ _('Exclude Mode') }}" id="settings-excluderegion_newExtendedGcodeMode">
          <option value="exclude">{{ _('Exclude') }}</option>
          <option value="first">{{ _('First') }}</option>
          <option value="last">{{ _('Last') }}</option>
          <option value="merge">{{ _('Merge') }}</option>
        </select>
      </span>
      <span class="span6"><input type="text" class="span12" title="{{ _("Description") }}" id="settings-excluderegion_newExtendedGcodeDescription"/></span>
      <span class="span2 btn-group">
<!-- TODO: Disable this button if the gcode value is blank or all spaces -->
        <a href="#" class="btn btn-mini icon-plus" data-bind="click: addExtendedGcode" title="{{ _('Add entry') }}"></a>
      </span>
    </div>
  </div>
</div>

<h4>@-Command Actions</h4>

<div class="table table-condensed container-fluid">
  <div>
    <div class="row-fluid">
      <h5 class="span2" title="{{ _('Name of the @-Command that should trigger the action') }}">{{ _('Command') }}</h5>
      <h5 class="span2" title="{{ _('Regular expression pattern to match against command parameters') }}">{{ _('Parameter Pattern') }}</h5>
      <h5 class="span2">{{ _('Action') }}</h5>
      <h5 class="span4">{{ _('Description') }}</h5>
      <h5 class="span2"></h5>
    </div>
  </div>
  <div data-bind="foreach: settings.atCommandActions">
    <div data-bind="attr: {title: command}" class="row-fluid">
      <span class="span2" data-bind="text: command"></span>
      <span class="span2"><input type="text" class="input-small" data-bind="value: parameterPattern, attr: {title: parameterPattern}"/></span>
      <span class="span2">
        <select data-bind="value: action" class="input-small" title="{{ _('Action') }}">
          <option value="enable_exclusion">{{ _('Enable Exclusion') }}</option>
          <option value="disable_exclusion">{{ _('Disable Exclusion') }}</option>
        </select>
      </span>
      <span class="span4"><input type="text" class="span12" data-bind="value: description, attr: {title: description}"/></span>
      <span class="span2">
        <a href="#" class="btn btn-mini icon-trash" data-bind="click: $parent.removeAtCommandAction" title="{{ _('Remove entry') }}"></a>
      </span>
    </div>
  </div>
  <div>
    <div class="row-fluid">
      <span class="span2"><input type="text" class="input-small" title="{{ _("Command") }}" id="settings-excluderegion_newAtCommand"/></span>
      <span class="span2"><input type="text" class="input-small" id="settings-excluderegion_newAtCommandParameterPattern"/></span>
      <span class="span2">
        <select class="input-small" title="{{ _('Action') }}" id="settings-excluderegion_newAtCommandAction">
          <option value="enable_exclusion">{{ _('Enable Exclusion') }}</option>
          <option value="disable_exclusion">{{ _('Disable Exclusion') }}</option>
        </select>
      </span>
      <span class="span4"><input type="text" class="span12" title="{{ _("Description") }}" id="settings-excluderegion_newAtCommandDescription"/></span>
      <span class="span2 btn-group">
<!-- TODO: Disable this button if the command value is blank or all spaces -->
        <a href="#" class="btn btn-mini icon-plus" data-bind="click: addAtCommandAction" title="{{ _('Add entry') }}"></a>
      </span>
    </div>
  </div>
</div>
